<html>

    <head></head>
    <body>
        <h1>Fingerprinting Tester</h1>
        <p>This page can be used to test the fingerprinting utility</p>
        <h2>Your fingerprint</h2>
        <p>We have not identified you before. You id from now on is: {{id}} </p>
    </body>
</html>
